<section id="about" class="about-area pt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h4 class="title"><i>အသုံးပြုရလွယ်ကူခြင်း</i></h4>
                    </div> <!-- section title -->
                    <p class="text">
                        အသုံးပြုရန်လွယ်ကူပြီးရှင်းလင်းသောUIနှင့်versionအသစ်များကိုအမြဲဖြန့်ချီပေးနေသောကြောင့်အသုံးပြုသူများစိတ်ကျေနပ်ပျော်ရွှင်ရခြင်း။မြန်မာစာတန်းထိုးကားများကိုအသုံးပြုသူများရဲ့တုန့်ပြန်မှုပေါ်မူတည်ပြီးinternetတွင်Hotဖြစ်နေသောဇာတ်ကားများကိုအချိန်နှင့်တပြည်းညီတင်ဆက်သွားပါမည်။
                    </p>
                    <a href="#download" class="main-btn">Try it Free</a>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-6">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s"
                    data-wow-delay="0.5s">
                    <img src="assets/cssAndjs/about-1.png" alt="about">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-shape-1">
        <img src="assets/cssAndjs/about-shape-1.svg" alt="shape">
    </div>
</section>

<section class="about-area pt-70">
    <div class="about-shape-2">
        <img src="assets/cssAndjs/about-shape-2.svg" alt="shape">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-last">
                <div class="about-content mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="section-title">
                        <div class="line"></div>
                        <h3 class="title">MSub YoteShin<span>ကိုအခမဲ့ရယူလိုက်ပါ။</span></h3>
                    </div> <!-- section title -->
                    <p class="text">ဒီလိုလွယ်ကူကောင်းမွန်သောMSub YoteShin appကိုအခုပဲအခမဲ့ဒေါင်းလုဒ်ဆွဲရယူလိုက်ပါ။
                    </p>
                    <a href="#download" class="main-btn">Try it Free</a>
                </div> <!-- about content -->
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="about-image text-center mt-50 wow fadeInRightBig" data-wow-duration="1s"
                    data-wow-delay="0.5s">
                    <img src="assets/cssAndjs/about-1.png
                        " alt="about">
                </div> <!-- about image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>