<section id="download" class="services-area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center pb-40">
                    <div class="line m-auto"></div>
                    <h3 class="title">Android or TVအတွက်ရွေးချယ်ပါ။</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="services-icon">
                        <img class="shape" src="assets/cssAndjs/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/cssAndjs/services-shape-1.svg" alt="shape">

                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a
                                href="https://www.dropbox.com/s/rzu280qyq8wh05s/MSub-Yote-Shin-1.1.0-playstore-release.apk?dl=1">Android</a>
                        </h4>
                        <p class="text">Android version 4.0မှစ၍မည်သည့်ဖုန်းတွင်မဆိုအလုပ်လုပ်ပါသည်။</p>
                        <a class="more main-btn"
                            href="https://www.dropbox.com/s/rzu280qyq8wh05s/MSub-Yote-Shin-1.1.0-playstore-release.apk?dl=1">Download
                            for Android</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-8">
                <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="services-icon">
                        <img class="shape" src="assets/cssAndjs/services-shape.svg" alt="shape">
                        <img class="shape-1" src="assets/cssAndjs/services-shape-2.svg" alt="shape">
                    </div>
                    <div class="services-content mt-30">
                        <h4 class="services-title"><a
                                href="https://www.dropbox.com/s/bh68vxmhwakcprb/MSub-Yote-Shin-Tv-1.1.0-playstore-release.apk?dl=1">TV</a>
                        </h4>
                        <p class="text">Android TVများတွင်လည်းလွယ်ကူစွာအသုံးပြုနိုင်ပါသည်။</p>
                        <a class="more main-btn"
                            href="https://www.dropbox.com/s/bh68vxmhwakcprb/MSub-Yote-Shin-Tv-1.1.0-playstore-release.apk?dl=1">Download
                            for TV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>